body {
    color:white;
    background: rgb(211, 187, 224);
    margin: 20px;
    font-family: "Comfortaa", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 38px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(183, 158, 212);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}
header {
 font-size: 80px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img {
    opacity: 0,5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(134, 28, 167);
}
